@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap');

:root {
    --greenBg: #bcffaa;
    --greenBorder: #559a3f;
    --redBg: #ffa8a8;
    --redBorder: #e68a8a;
    --blueBg: #a4abff;
    --blueBorder: #54609d;
    --yellowBg: #fff4a0;
    --yellowBorder: #a19b4c;
    --orangeBg: #ffc59e;
    --orangeBorder: #ae7359;
    --purpleBg: #d9b3ff;
    --purpleBorder: #7f54a6;
    --pinkBg: #ff9ed9;
    --pinkBorder: #994d75;
    --greyBg: #edece5;
    --greyBorder: #aaaaa8;
    --primary-color: #f5f5f5;
    --secondary-color: #343333;
    --default-btn-color: #dadada;
    --primary-btn-color: #202020;
    --primary-outline: 1.2px solid #616161;
    --primary-border-radius: .47rem;
    --secondary-border-radius: 1rem;
    
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-rounded.mat-menu {
    font-weight: 700;
    font-size: 2rem;
}


*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
.h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.1;
}

h2,
.h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3,
.h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4,
.h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

p,
.p1 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}



.sidebar-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-right: 1px solid #bababa;
    position: fixed;
    top: 0;
    left: 0;
    width: 275px;
    height: 100%;
    padding: 15px 0;
    transition: all 0.5s ease;
    z-index: 10;
}


.sidebar-grid {
    padding: 0 1.5rem;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.sidebar-title {
    font-family: 'Changa', sans-serif;
    font-size: 1.3rem;
}

.sidebar-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.sidebar-close-open {
    display: flex;
    cursor: pointer;
}

.sidebarUL {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sid-icon-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .6rem 0;
    border-radius: .4rem;
    transition: all 0.3s ease;
    outline: none;
}

button,
.btn {
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    padding: .8rem 1.5rem;
    font-size: .9rem;
    border-radius: var(--primary-border-radius);
    transition: all 0.3s ease;
    width: -moz-fit-content;
    width: fit-content;
}

/*.btn-default {
    background: var(--default-btn-color);
    color: var(--primary-color);
}*/

.btn-main {
    background-color: var(--primary-btn-color);
    color: #fff;
    font-weight: 500;
}

.btn-main:hover,
.btn-main:focus {
    outline: none;
    /*-webkit-box-shadow: 0px 0px 0px 3px #858585; 
    box-shadow: 0px 0px 0px 3px #858585;*/
    background-color: #000000;
}

.btn-main:active {
    outline: none;
    -webkit-box-shadow: 0px 0px 0px 3px #4d4d4d;
    box-shadow: 0px 0px 0px 3px #4d4d4d;
}

.sid-icon-button:hover,
.btn-default:hover {
    outline: var(--primary-outline)
}

.sid-icon-button:active,
.btn-default:active {
    background-color: var(--default-btn-color);
}

.active-nav {
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-btn-color);
    color: #fff;
}

.sid-icon-button i {
    font-size: 1.3rem;
}

.sid-icon-button span {
    margin-left: 1rem;
}


.sid-icon-button span.material-symbols-rounded {
    font-size: 1.6rem;
}

.sid-icon-button span.btn-caption {
    font-size: 1rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.fc-item {
    display: flex;
    flex: auto;
}

main.dash {
    position: relative;
    left: 275px;
    width: calc(100% - 275px);
    transition: all 0.5s ease;
    font-family: 'Poppins', sans-serif;
}

.cont-element {
    margin-bottom: 3.3rem;
}

.cont-element:last-child {
    margin-bottom: 0;
}


.container {
    display: block;
    margin: 0;
    padding: 1.6rem;
}

.card {
    border-radius: var(--secondary-border-radius);
    border: 1px solid #000;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.small-card {
    padding: 2rem;
    border-radius: var(--primary-border-radius);
    border: 1px solid;
    background-color: #ebebeb;
}

.card-heading {
    font-weight: 500;
    margin-bottom: .2rem;
}

.cards-heading {
    font-weight: 500;
    margin-bottom: 1rem;
}

.cards-heading h3 {
    font-size: 1.74rem;
    color: #4d4e4d;
}

.card-content {
    margin-bottom: 1rem;
}

.card-number {
    color: #1c1919;
    font-size: 2.4rem;
    font-weight: 600;
}

.card-1 {
    width: 100%;
}

.card-2 {
    width: 60%;
}

.card-3 {
    width: 30%;
}

.card>* {
    margin-bottom: 1rem;
}


/* ------TABLE DESIGN-------- */
.table-section {
    border: 1px solid #000;
    border-radius: var(--primary-border-radius);
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    border-bottom: 1px solid;
    border-radius: var(--primary-border-radius);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tbl-content::-webkit-scrollbar { width: 0 !important }
.tbl-content { overflow: -moz-scrollbars-none; }

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.status {
    padding: .4rem .66rem;
    border-radius: var(--secondary-border-radius);
    background: var(--greenBg);
}








@media screen and (max-width: 900px) {
    .sidebar-container {
        width: 92px;
    }

    .sidebar-grid {
        padding: 0 1 rem;
    }

    .sidebar-header {
        flex-direction: column;
    }

    .sidebar-header h2 {
        font-size: 1.5rem;
    }

    .sidebar-header .sidebar-close-open {
        display: none;
    }

    .sid-icon-button {
        justify-content: center;
    }

    .sid-icon-button .btn-caption {
        display: none;
    }

    .sid-icon-button span {
        margin: 0;
    }

    main.dash {
        left: 92px;
        width: calc(100% - 92px);
    }
}

.green-bg {
    background-color: var(--greenBg);
    border-color: var(--greenBorder);
}

.red-bg {
    background-color: var(--redBg);
    border-color: var(--redBorder);
}

.blue-bg {
    background-color: var(--blueBg);
    border-color: var(--blueBorder);
}

.yellow-bg {
    background-color: var(--yellowBg);
    border-color: var(--yellowBorder);
}

.orange-bg {
    background-color: var(--orangeBg);
    border-color: var(--orangeBorder);
}

.purple-bg {
    background-color: var(--purpleBg);
    border-color: var(--purpleBorder);
}

.pink-bg {
    background-color: var(--pinkBg);
    border-color: var(--pinkBorder);
}

.grey-bg {
    background-color: var(--greyBg);
    border-color: var(--greyBorder);
}